.editor .stage {
	float: left;
	border: 1px solid grey;
	width: 800px;
	height: 400px;
	overflow: auto;
	position: relative;
	background: #E0E0E0;
}

.editor .stage component {
	display: block;
	width: 100%;
	height: 100%;
}

.editor .stage component bounding-box .theme-switcher {
	display: none;
}

.editor .stage component bounding-box.ui-selected > * > .theme-switcher {
	display: block;
	border: 1px solid black;
	background: darkgray;
	position: absolute;
	width: 100%;
	height: 50px;
	top: -50px;
	left: 0px;
}

.editor .stage .editable-area {
	top: 17px;
	right: 0px;
	bottom: 0px;
	left: 17px;
	position: absolute;
}

.editor .stage ruler.horizontal-ruler {
	left: 17px;
}

.editor .stage ruler.vertical-ruler {
	top: 17px;
}

.editor .stage ruler.horizontal-ruler .floating-marker {
	margin-left: -17px;
}

.editor .stage ruler.vertical-ruler .floating-marker {
	margin-top: -17px;
}