/*.components-index .item-accordion {
	padding-top: 0px;
}*/

.raw-editor component {
	display: block;
	margin-top: 10px;
}

.raw-editor .component-edition .sections > .button:first-child {
	border-radius: 0px;
	border-left: 0px;
}

.raw-editor .component-edition .sections > .button:last-child {
	border-radius: 0px;
	border-right: 0px;
}

.raw-editor .component-edition .editor {
	border: 1px solid #CCCCCC;
	padding: 0px;
}

.raw-editor .component-edition .row {
	min-height: 250px;
}

.raw-editor .components-list .preview {
	overflow: visible;
	position: relative;
}