<div ng-controller="AppController">
	<div ng-if="data.components">
		<component id="Searcher" language="en-US" style="border: 1px solid grey; width: 50%; display:block; float:left;"></component>

		<component id="Searcher" language="pt-BR" style="border: 1px solid grey; width: 50%; display:block; float:left;"></component>

		<hr />
		<i18n id="description" language="pt-BR" data="data.components.Searcher.i18n"></i18n>

		<hr />

		<div bounding-box resizable draggable bb-handles="n, e, s, w, ne, se, sw, nw" style="background:red; width: 100px; height: 100px; display: block; position: absolute; top: 50px; left: 100px;">conteudo da div</div>

		BIRTHDAY: <data id="birthday" data="data.components.Searcher.components.Foolish.data" filter="date : 'dd/MM/yyyy'"></data>
	</div>
</div>