<div ng-controller="AppController">
	<div ng-if="data.components">
		<component id="Searcher" language="en-US"></component>

		<hr />
		<i18n id="description" language="pt-BR" data="data.components.Searcher.i18n"></i18n>

		<hr />
		BIRTHDAY: <data id="birthday" data="data.components.Searcher.components.Foolish.data" filter="date : 'dd/MM/yyyy'" />
	</div>
</div>