<div ng-controller="AppController">
	<div class="slides-list" ng-if="data.components">
		
		<component ng-repeat="(id, component) in data.components" data="component" ng-attr-id="{{id}}" controller-name="" class="slide"></component>
	</div>
	<!-- <div ng-if="data.components" editable-area>
		
		<div style="background:red; height: 100px; padding: 20px; margin: 5px; float: left;">1</div>
		<div style="background:green; height: 150px; padding: 20px; margin: 5px; float: left; position: absolute; left: 180px; border: 20px solid gold; border-right-width: 10px; border-bottom-width: 5px; border-left-width: 0px">2</div>
		<div style="background:yellow; height: 100px; padding: 20px; margin: 5px; float: left;">3</div>
		<div style="background:blue; height: 100px; padding: 20px; margin: 5px; float: left;">4</div>

		<hr style="clear: both;" />

		<component id="Searcher" language="en-US" style="background: #5DB1EA; border: 1px solid grey; width: 50%; display:block; float:left;"></component>

		<component id="Searcher" language="pt-BR" style="border: 1px solid grey; width: 50%; display:block; float:left;"></component>

		<hr />
		<i18n id="description" language="pt-BR" data="data.components.Searcher.i18n"></i18n>

		<hr />


		BIRTHDAY: <data id="birthday" data="data.components.Searcher.components.Foolish.data" filter="date : 'dd/MM/yyyy'"></data>

		<hr />

		BIRTHDAY2: <data id="birthday" data="data.components.Searcher.components.Foolish.data" filter="date : 'dd/MM/yyyy'" style="display: block;"></data>
	</div> -->
</div>