<div ng-controller="App">
	<div ng-if="data.components">
		<component id="searcher" language="en-US"></component>

		<hr />
		<i18n id="description" language="pt-BR" data="data.components.searcher.i18n"></i18n>

		<hr />
		BIRTHDAY: <data id="birthday" data="data.components.searcher.components.foolish.data" filter="date : 'dd/MM/yyyy'" />
	</div>
</div>