<div ng-controller="AppController">
	<div ng-if="data.components" editable-area>
		
		<div style="background:red; height: 100px; padding: 20px; margin: 5px; float: left;">1</div>
		<div style="background:green; height: 150px; padding: 20px; margin: 5px; float: left;">2</div>
		<div style="background:yellow; height: 100px; padding: 20px; margin: 5px; float: left;">3</div>

		<hr style="clear: both;" />

		<component id="Searcher" language="en-US" style="border: 1px solid grey; width: 50%; display:block; float:left;"></component>

		<component id="Searcher" language="pt-BR" style="border: 1px solid grey; width: 50%; display:block; float:left;"></component>

		<hr />
		<i18n id="description" language="pt-BR" data="data.components.Searcher.i18n"></i18n>

		<hr />


		BIRTHDAY: <data id="birthday" data="data.components.Searcher.components.Foolish.data" filter="date : 'dd/MM/yyyy'"></data>
	</div>
</div>