<div ng-controller="EditorController" class="editor">
	
	<div class="slides">
		<ol>
			<li class="slide" ng-class="{selected: slide.selected}" ng-click="slides.deselectAllSlides(); slides.selectSlide(id);" ng-repeat="(id, slide) in data.slides" ng-cloak>
				<div class="preview"></div>
				<p class="slide-name" ng-bind="slide.name"></p>
			</li>
		</ol>
	</div>

	<div class="stage" ng-init="mousePos = {x:0, y:0}" ng-mousemove="mousePos = getOffsetPosition($event);">

		<ruler orientation="horizontal" from="0" to="1500" step="50" watcher="{'mousePos': 'floatingMarker.x = $parent.mousePos.x'}"></ruler>

		<ruler orientation="vertical" from="0" to="1500" step="50" watcher="{'mousePos': 'floatingMarker.y = $parent.mousePos.y'}"></ruler>

		<div ng-show="slide.selected" ng-repeat="(i, slide) in data.slides" class="editable-area" editable-area ng-mousedown="deselectCtrlBB($event)">

			<!-- <div style="background:pink; height: 100px; width: 100px; padding: 20px; margin: 5px;">=======</div> -->
			
			<component ng-attr-id="component-{{slide.component.id}}" ng-class="slide.selectedTheme" data="slide.component" controller-name="{{data.name}}Controller"></component>
			
			

			<!-- <div style="background:red; height: 100px; padding: 20px; margin: 5px; float: left;">1</div>
			<div style="background:green; height: 150px; padding: 20px; margin: 5px; float: left; position: absolute; left: 180px; border: 20px solid gold; border-right-width: 10px; border-bottom-width: 5px; border-left-width: 0px">2</div>
			<div style="background:yellow; height: 100px; padding: 20px; margin: 5px; float: left;">3</div>
			<div style="background:blue; height: 100px; padding: 20px; margin: 5px; float: left;">4</div>
			<hr /> -->
		</div>
	</div>
</div>