<div ng-controller="RawEditorController" class="raw-editor">

	<ion-view view-title="ComponentsList">
		
		<div class="bar bar-header bar-positive">
			<h1 class="title">Components</h1>
		</div>

		<ion-content class="has-header">
			<ion-list ng-if="data.components" ng-repeat="component in data.components" ng-init="component.selectedTheme = component.themes[0];" ng-cloak>
				
				<ion-item class="item-stable item-button-right" ng-click="toggleGroup(component)" ng-class="{active: isGroupShown(component)}">
					<i class="icon" ng-class="isGroupShown(component) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;{{component.name}}
					<button class="button button-energized" ng-click="openEdition(component);$event.stopPropagation();">Edit</button>
				</ion-item>
				<ion-item class="item-accordion" ng-show="isGroupShown(component)">

					<div class="button-bar bar-calm">
						<a class="button" ng-repeat="theme in component.themes" ng-bind="theme" ng-click="(component.selectedTheme === theme ? component.selectedTheme = null : component.selectedTheme = theme)" ng-class="{active: component.selectedTheme == theme}"></a>
					</div>

					<component data="component" id="{{component.name}}" ng-class="component.selectedTheme"></component>
					
				</ion-item>

			</ion-list>
		</ion-content>
	</ion-view>



  
  	<ion-view class="component-edition" view-title="ComponentsEdition" ng-if="editingComponent" ng-show="editingComponent" ng-cloak>
	    <div class="bar bar-header bar-energized">
	        <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="acceptChanges(false);">Cancel</ion-button>
	  		<h1 class="title">Editing Component</h1>
		</div>
	    
	    <ion-content class="has-header" ng-init="section = 'preview';">
			<form name="form" ng-model="form">
				<ion-list>
					<li class="item item-input item-stacked-label">
						<span class="input-label">Name</span>
						<input type="text" placeholder="Component Name" name="name" ng-model="editingComponent.name" required />					
					</li>
				</ion-list>

				<div class="sections button-bar bar-calm">
					<a class="button" ng-class="{active: section === 'html'}" ng-click="section = 'html';">HTML</a>
					<a class="button" ng-class="{active: section === 'data'}" ng-click="section = 'data';">Data</a>
					<a class="button" ng-class="{active: section === 'i18n'}" ng-click="section = 'i18n';">i18n</a>
					<a class="button" ng-class="{active: section === 'styles'}" ng-click="section = 'styles';">Styles</a>
					<a class="button" ng-class="{active: section === 'components'}" ng-click="section = 'components';">Components</a>
					<a class="button" ng-class="{active: section === 'preview'}" ng-click="section = 'preview';">Preview</a>
				</div>

				<div ng-show="section === 'html'">
					<!-- <div class="editor" ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'html'}" ng-model="editingComponent.template"></div> -->
				</div>

				<div ng-show="section === 'data'">
					data
				</div>

				<div ng-show="section === 'i18n'">
					i18n
				</div>

				<div ng-show="section === 'styles'">
					styles
				</div>

				<div ng-show="section === 'components'">
					components
				</div>

				<div class="preview" ng-show="section === 'preview'">
					<component id="{{editingComponent.name}}" ng-class="selectedTheme" language="" data="editingComponent"></component>
				</div>

			</form>

	    </ion-content>

		<ion-footer-bar class="bar-energized">
			<div class="buttons pull-right">
				<ion-button class="button button-positive" ng-click="acceptChanges(true);">OK</ion-button>
			</div>
		</ion-footer-bar>

	</ion-view>
	
	<!--<div>



		
		<div class="panel panel-default" ng-repeat="component in data.components">
			<div class="panel-heading">
				<h3 class="panel-title" ng-bind="component.name"></h3>
				<label class="preview-theme">
					Theme:
					<select ng-options="theme as theme for theme in component.themes" ng-model="selectedTheme">
						<option value="">--no theme--</option>
					</select>
				</label>
			</div>
			<div class="panel-body">
				<div class="preview" ng-init="selectedTheme = 'theme-default';">
					<component id="{{component.name}}" ng-class="selectedTheme" language="" data="component"></component>
				</div>

				<tabset>
					<tab heading="HTML">
						<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'html'}" ng-model="component.template"></div>
					</tab>

					<tab heading="Data">
						<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json'}" ng-model="component.dataStringified" ng-model-setter="component.data = stringToData($value);"></div>
					</tab>

					<tab heading="i18n">
						<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json'}" ng-model="component.i18nStringified" ng-model-setter="component.i18n = stringToData($value);"></div>
					</tab>

					<tab heading="Styles">
						<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json'}" ng-model="component.stylesStringified" ng-model-setter="component.styles = stringToData($value); generateCSS('{{component.name}}', component.styles);"></div>
					</tab>

					<tab heading="Components">
						<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json'}" ng-model="component.componentsStringified" ng-model-setter="component.components = stringToData($value);"></div>
					</tab>
				</tabset>

				<a href="#" class="btn btn-primary">Submit</a>
			</div>
		</div>
		
	</div>-->
</div>