<div ng-controller="RawEditorController" class="components-index">

	<div ng-if="data.components" ng-cloak>
		
		<div class="panel panel-default" ng-repeat="component in data.components">
			<div class="panel-heading">
				<h3 class="panel-title" ng-bind="component.name"></h3>
				<label class="preview-theme">
					Theme:
					<select ng-options="theme as theme for theme in component.themes" ng-model="selectedTheme">
						<option value="">--no theme--</option>
					</select>
				</label>
			</div>
			<div class="panel-body">
				<div class="preview" ng-init="selectedTheme = 'theme-default';">
					<component id="{{component.name}}" ng-class="selectedTheme" language="" data="component"></component>
				</div>

				<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'html', onLoad: 'aceLoaded'}" ng-model="component.template"></div>
				
				<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json', onLoad: 'aceLoaded'}" ng-model="component.dataStringified" ng-model-setter="component.data = stringToData($value);"></div>

				<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json', onLoad: 'aceLoaded'}" ng-model="component.i18nStringified" ng-model-setter="component.i18n = stringToData($value);"></div>

				<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json', onLoad: 'aceLoaded'}" ng-model="component.stylesStringified" ng-model-setter="component.styles = stringToData($value); generateCSS('{{component.name}}', component.styles);"></div>

				<div ui-ace="{useWrapMode: false, showGutter: true, theme: 'twilight', mode: 'json', onLoad: 'aceLoaded'}" ng-model="component.componentsStringified" ng-model-setter="component.components = stringToData($value);"></div>

				<a href="#" class="btn btn-primary">Submit</a>
			</div>
		</div>
		
	</div>
</div>