<div ng-controller="DocumentationController">

	<div ng-repeat="(k, component) in data.components" ng-init="tab='preview'; selectedLanguage">
		<h1>{{k + ' - ' + data.components[k].name}}</h1>
		<select ng-options="language as language for language in component.languages" ng-model="selectedLanguage"></select>
		<div class="tab">
			<a href="#" ng-click="tab='preview';">Preview</a>
			<a href="#" ng-click="tab='html';">HTML</a>
			<a href="#" ng-click="tab='data';">Data</a>
			<a href="#" ng-click="tab='styles';">Styles</a>
			<a href="#" ng-click="tab='i18n';">i18n</a>
			<a href="#" ng-click="tab='scope';">Scope</a>

			<component data="component" ng-show="tab=='preview'" language="{{selectedLanguage}}"></component>
			<pre ng-show="tab==='html'">{{component.template}}</pre>
			<pre ng-show="tab==='data'">{{component.data | jsonFormatter}}</pre>
			<pre ng-show="tab==='styles'">{{component.styles | jsonFormatter}}</pre>
			<pre ng-show="tab==='i18n'">{{component.i18n | jsonFormatter}}</pre>
			<pre ng-show="tab==='scope'">{{component | jsonFormatter}}</pre>
		</div>
	</div>
</div>