body {
	padding: 20px;
	line-height: 20px;
}

component {
	border: 1px solid darkgray;
	padding: 10px;
	margin: 10px;
	display: block;
	background: #EFEFEF;
}

pre {
	border: 1px solid darkgray;
	padding: 10px;
	margin: 10px;
	display: block;
	background: #EFEFEF;
	overflow: auto;
	font-size: 10px;
}

.row {
	margin-bottom: 50px;
}